.feature-box {
  font-size: 1.5rem;
  position: relative;
  padding: 2.5rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: transform 0.3s;
  border: 1px solid $color-primary-dark;
  text-transform: uppercase;
  svg {
    height: 2rem;
  }
  .heading-tertiary {
    font-size: 1.6rem;
    color: $color-primary;
  }

  @include respond(tab-port) {
    padding: 2rem;
  }

  &.edited {
    i {
      font-size: 2.5rem;
    }
    .heading-tertiary {
      color: $color-primary;
    }
  }
  .arrow {
    svg {
      width: 3rem;
      height: 3rem;
      fill: $color-primary;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
.image-block {
  display: flex;
  grid-gap: $gutter-horizontal;
  margin-bottom: $gutter-horizontal;
  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}
.dest-slider {
  .dest-item {
    @include backgroundCover;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    padding: 0 2rem;

    h2 {
      font-family: $default-header-style;
      color: $color-white;
    }
    a {
      color: $color-white;
      display: block;
      border: 1px solid $color-white;
      padding: 1rem;
    }
  }
}
.prop-slider {
  .property-style-block {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 2rem;
    .style-text {
      padding: 5rem 0 0 5rem;
      a {
        color: $color-black;
        display: block;
        border: 1px solid $color-black;
        padding: 1rem;
      }
    }
    .style-image {
      @include backgroundCover;
    }
  }
}
.itin-slider {
  .itin-slide-block {
    display: flex;
    flex-direction: column;
    background: white;

    .itin-slide-image {
      height: 25rem;
      @include backgroundCover;
    }
    .itin-slide-text {
      padding: 1rem 2rem;
      .button {
        font-size: inherit;
        font-weight: 400;
      }
      a {
        color: $color-black;
      }
      .underscores:after {
        padding-top: 0.5rem;
      }
    }
  }
  .owl-stage > .active {
    opacity: 0;
    transition: all 0.5s;
  }
  
  .owl-stage > .active ~ .active {
    opacity: 1;
}
}