#parent {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2rem;
}

.child {
  height: 25rem;
  flex: 1;
  min-width: 30%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 700px) {
  .child {
    min-width: 33.33%;
  }
}

@media (max-width: 400px) {
  .child {
    min-width: 50%;
  }
}
.limit-six {
  display: none;
}
.view-more-btn {
  display: block;
  text-align: center;
}