.itin-facts {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  .heading-tertiary {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0 0 1rem 1rem;
    font-weight: 700;
  }
  .length {
    padding-right: 1rem;
  }
  .meta {
    border-left: 1px solid $color-black;
    padding: 0 1rem;
  }
  .where {
    .country {
      font-weight: 700;
      &::after {
        content: ":";
      }
    }
    .country ~ .country {
      &::before {
        content: "\a";
        white-space: pre;
      }
    }
  }
}
