.single-itineraries {
  .header .hero {
    justify-content: end;
    .breadcrumb {
      color: $color-white;
      a {
        color: $color-white;
      }
    }
  }
}
.itin-facts {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  .heading-tertiary {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0 0 1rem 1rem;
    font-weight: 700;
  }
  .length {
    padding-right: 1rem;
  }
  .meta {
    border-left: 1px solid $color-black;
    padding: 0 1rem;
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      li {
        display: grid;
        grid-template-columns: 1fr 4fr;
        a {
          font-weight: 700;
          &:after {
            content: ":";
          }
        }
        ul {
          display: flex;
          flex-direction: row;
          li {
            display: flex;
            a {
              font-weight: initial;
              padding-right: 1rem;
              &:after {
                content: ",";
              }
            }
          }
          li:last-child {
            a {
              &:after {
                content: none;
              }
            }
          }
        }
      }
    }
  }
  .where {
    .country {
      font-weight: 700;
      &::after {
        content: ":";
      }
    }
    .country ~ .country {
      &::before {
        content: "\a";
        white-space: pre;
      }
    }
    .country ~ .place {
      &::after {
        content: ",";
      }
    }
    .country ~ .place {
      &:last-of-type {
        &::after {
          content: none;
        }
      }
    }
  }
}
.section-itin-camps {
  .meta {
    color: $color-primary;
  }
  .heading-secondary {
    padding: 1rem 0;
  }
  p {
    padding: 1rem 0;
  }
  .button {
    i {
      color: $color-black;
      justify-self: end;
      padding-right: 1rem;
      font-size: 2rem;
    }
    .icon {
      i {
        color: $color-primary;
      }
    }
  }
}
.itin-button {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  align-items: center;
  padding: 2rem 1.5rem;
  .text {
    line-height: 1.2;
    font-size: 1.4rem;
    .camp-name {
      display: block;
      font-weight: 600;
      font-size: initial;
    }
  }
}
.lodges {
  .itin-item-text {
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
  .destination-meta {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
}
.itineraries {
  .itin-item-text {
    padding: 2rem 3rem;
    align-items: center;
  }
  .destination-meta {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    .main {
      span {
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        border-right: 1px solid $color-primary;
      }
    }
    .sub {
      padding-left: 2rem;
    }
  }
}
.safaritype-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
}
.itin-slide-text {
  .destination-meta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0;
    .main {
      border-right: 1px solid $color-primary;
      span {
        display: block;
        text-transform: uppercase;
        font-weight: 400;
      }
    }
    .sub {
      padding: 0 1rem;
    }
  }
}
.signature-itins {
  .post-item {
    background: $color-white;
    display: flex;
    flex-direction: column;
    .post-image {
      @include backgroundCover;
      height: 25rem;
    }
    .post-text {
      padding: 1rem 2rem;
      flex: 1;
    }
    .post-link {
      padding: 1rem 2rem 2rem;
    }
  }
}
