.itin-facts {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  .heading-tertiary {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0 0 1rem 1rem;
    font-weight: 700;
  }
  .length {
    padding-right: 1rem;
  }
  .meta {
    border-left: 1px solid $color-black;
    padding: 0 1rem;
  }
  .where {
    .country {
      font-weight: 700;
      &::after {
        content: ":";
      }
    }
    .country ~ .country {
      &::before {
        content: "\a";
        white-space: pre;
      }
    }
    .country ~ .place {
      &::after {
        content: ",";
      }
    }
    .country ~ .place {
      &:last-of-type {
        &::after {
          content: none;
        }
      }
    }
  }
}
.section-itin-camps {
  .meta {
    color: $color-primary;
  }
  .heading-secondary {
    padding: 1rem 0;
  }
  p {
    padding: 1rem 0;
  }
  .button {
    i {
      color: $color-primary;
    }
  }
}
.itin-button {
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem;
  .text {
    line-height: 1.2;
    font-size: 1.4rem;
    .camp-name {
      display: block;
      font-weight: 600;
      font-size: initial;
    }
  }
}
