.single {
    .header {
        height: 50vh;
    }
    main {
        p:first-of-type {
            font-family: $alt-font-header;

        }
    }
    .section-text {
        text-align: left;
        .heading-secondary {
            font-family: $alt-font-header;
            text-align: left;
            &::after {
                content: "";
                border-bottom: 1px solid $color-primary;
                width: 2rem;
                display: block;
                padding-top: 1rem;
              }
        }
    }
}
.post-block {
    .heading-secondary {
        text-align: center;
        padding: 2rem 0;
    }
    .post-grid {
        .mix {
            background: $color-white;
            display: flex;
            flex-direction: column;
            height: 100%;
            .post-image {
                height: 15rem;
                @include backgroundCover;
            }
            .post-text {
                padding: 1rem 2rem;
                flex: 1;
                .heading-secondary {
                    text-align: left;
                    padding: 0;
                    &--sub {
                        color: $color-black;
                    }
                }
            }
            .post-link {
                padding: 1rem 2rem;
                a {
                    color: $color-black;
                    font-size: 1.5rem;
                    font-weight: 400;
                    padding-top: 1rem;
                }
            }
            
        }
    }
    .meta {
        color: $color-primary;
    }
}