.u-center-text {
  text-align: center !important;
}
.u-margin-default {
  margin: 5rem 0;
  @include respond(tab-port) {
    margin: 3rem 0;
  }
}

.u-margin-bottom {
  margin-bottom: 5rem;

  @include respond(tab-port) {
    margin-bottom: 3rem;
  }
}

.u-margin-top {
  margin-top: 5rem;
  @include respond(tab-port) {
    margin-top: 3rem;
  }
}
.u-margin-remove {
  margin: 0;
}
.no-mob {
  @include respond(phone) {
    display: none;
  }
}
